body { 
   background: url(https://scontent-b-dfw.xx.fbcdn.net/hphotos-prn2/971320_652399714789545_169744481_n.jpg);
  
   }
   
 /* Table of Contents navigation */
 .toc a {
      font size: 25px;
 }
    #masthead {
    border-bottom: 2px solid #ffffff;
    margin bottom: 30px;
    padding bottom: 20px;
}     
h1, h2, h3 {
    color: white;
     font: 100% "Arial Bold", Arial,
   sans-serif;
}
h1 {
   font-variant: small-caps;
   font-size: 46px;
}

ul
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
width:120px;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
