body { 
   background: url(https://scontent-b-dfw.xx.fbcdn.net/hphotos-prn2/971320_652399714789545_169744481_n.jpg);
  
   }
   
   .boxed {
  border: 1px solid green ;
}


h1, h2, h3 {
    color: white;
     font: 100% "Arial Bold", Arial,
   sans-serif;
}
h1 {
   font-variant: small-caps;
   font-size: 46px;
}
h2 {
   font-size: 25px;
}


ul
{
position:absolute;
right:10px;
top:0px;
}
{
list-style-type:none;
margin:0;
padding:0;
}
a:link,a:visited
{
display:block;
 font: 100% "Arial Bold", Arial,
  sans-serif;
font-weight:bold;
font-size: 25px;
color:#FFFFFF;
background-color:#98bf21;''
width:70px;
text-align:center;
padding:50px;


div#footer li{
        width:120px;
        display:inline-block;
        text-align:center;
        
}

#navigation {
	width: 100px;
	float: left;
	background-color: #099;
