<!DOCTYPE html>
body {
   background-color:#aec6cf;
}

article {
        
width: 50%;
}

h1, h2, h3 {
    color: white;
     font: 100% "Arial Bold", Arial,
   sans-serif;
}
h1 {
   font-variant: small-caps;
   font-size: 46px;
}
h2 {
   font-size: 25px;
}

p.pos_fixed
{
top:30px;
right:5px;
}
header
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
a:link,a:visited
{
display:inline;
width:120px;
font-weight:bold;
color:#000000;
background-color:#FFFFFF;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:#FFFFFF;
}


